#wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    .second-dev{
        display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    }
}